<div class="footer">
    <div class="container-middle">
        <div class="content-left">
            <img src="../../assets/img/logo4.png" alt="">
        </div>
        <div class="content-middle">
            <span> &copy; Tobias Ruhmanseder 2024 </span>
        </div>
        <div class="content-right">
            <a href="https://github.com/TobiasRuhmanseder" target="_blank"><img
                    src="../../assets/img/social_buttons/github.svg" alt=""></a>
            <a href="mailto:tobi.r1707@gmail.com"><img src="../../assets/img/social_buttons/mail.svg" alt=""></a>
            <a href="https://de.linkedin.com/in/tobias-ruhmanseder-095457237" target="_blank"><img
                    src="../../assets/img/social_buttons/linkedin.svg" alt=""></a>
        </div>
    </div>
    <a class="impressum" href="">Impressum</a>
    <img class="shadow6" src="../../assets/img/backgrounds/shadow6.svg" alt="">
</div>