.footer {
    position: relative;
    height: 290px;
    padding-left: var(--bodypaddingleft);
    padding-right: var(--bodypaddingright);
    width: calc(100% - var(--bodypaddingleft) - var(--bodypaddingright));
    background-color: var(--backgroundcolor);
    border-top: 3px solid var(--brightcolor);
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 1023px) {
        padding-top: 40px;
        height: 380px;
        justify-content: flex-start;
    }
}

.container-middle {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    @media (max-width: 1023px) {
        flex-direction: column;
        justify-content: space-between;
        height: 180px;
    }

    span {
        color: white;
        font-size: 24px;

        @media (max-width: 1300px) {
            font-size: 20px;
        }
    }
}

.content-left {

    img {
        height: 40px;

        @media (max-width: 1023px) {
            margin-bottom: 40px;
        }

    }
}

.content-right {
    width: 250px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1023px) {
        margin-top: 30px;
    }
}

.icon8{
    font-size: 14px !important;

    a{
        color: white;
        text-decoration: underline;

        &:hover{
            text-decoration: none;
        }
        
    }
}

.impressum {
    display: flex;
    padding-left: 10px;
    text-decoration: none;
    color: white;

    @media (max-width: 1023px) {
        width: 100%;
        justify-content: center;
        padding-left: 0px;
        margin-top: 40px;
    }
}