.about-me {
    position: relative;
    margin-top: 0px;
    margin-bottom: 300px;
    z-index: 99;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0px !important;

    @media (max-width: 1270px) {
        margin-bottom: 150px;
    }
}

.left-section {
    width: 35%;
    position: relative;
    z-index: 3;

    @media (max-width: 1470px) {
        width: 40%;
    }

    @media (max-width: 1270px) {
        width: 45%;
    }

    @media (max-width: 767px) {
        width: calc(100% - var(--bodypaddingright) - var(--bodypaddingleft));
    }

    span {
        @media (max-width: 1470px) {
            font-size: 14px;
        }
    }
}

.right-section {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    @media (max-width: 767px) {
        display: none;
    }

}

.description {
    img {
        padding: 5px 30px 0px 30px;

        @media (max-width: 1470px) {
            padding: 5px 20px 0px 20px;
        }

        @media (max-width: 767px) {
            width: 30px;
            padding: 5px 15px 0px 0px;
        }
    }
}

.discription-headline {
    margin-bottom: 25px;
}

.bulb-section {
    display: flex;
    margin-bottom: 25px;
}

.puzzle-section {
    display: flex;
    margin-bottom: 25px;
}

.image-round {
    display: flex;
    width: 500px;
    height: 500px;
    border: 4px solid var(--brightcolor);
    border-color: var(--brightcolor);
    border-radius: 50%;
    background-image: url(../../assets/img/me03.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: 100%;

    @media (max-width: 1470px) {
        width: 400px;
        height: 400px;
        background-size: 320px;
    }

    @media (max-width: 1023px) {
        width: 300px;
        height: 300px;
        background-size: 250px;
    }
}

.borderline-right {
    width: calc(var(--bodypaddingright) + 80px);
    height: 4px;
    background-color: var(--brightcolor);

    @media (max-width: 1270px) {
        width: calc(var(--bodypaddingright) + 20px);
    }

    @media (max-width: 1023px) {
        width: calc(var(--bodypaddingright));
    }
}

.shadow2 {
    width: 800px;
    position: absolute;
    top: -150px;
    right: -400px;
    z-index: 1;
    rotate: -10deg;

    @media (max-width: 1023px) {
        width: 400px;
        right: -200px;
        top: -100px;
    }
}