<div id="aboutMe" class="about-me section-container">
    <div class="left-section" data-aos="fade-right">
        <h1>About me</h1>
        <div class="description">
            <div class="discription-headline">
                <span>
                    Hi, I am a Frontend Developer with hands-on experience in building websites and complex web apps
                    with
                    JavaScript & Angular. I am passionate about translating design into innovative code solutions.
                    Through
                    my skillset and several project experience I am able to realize extensive projects. You are welcome
                    to
                    get an insight into my projects which contains responsive websites and business apps.
                </span>
            </div>
            <div class="bulb-section">
                <div>
                    <img src="../../assets/img/bulb.svg" alt="">
                </div>
                <span>I built landing pages and several web apps, as well as simple business software and OOP-based
                    Jump-and-Run-Games. It is of great importance to me to implement a design exactly with focus on
                    details.
                </span>
            </div>
            <div class="puzzle-section">
                <div>
                    <img src="../../assets/img/puzzle.svg" alt="">
                </div>
                <span>
                    Due to my professional experience, I am used to maintaining clear and effective communication,
                    enabling smooth teamwork and efficient workflows.
                </span>
            </div>
        </div>
    </div>
    <div class="right-section" data-aos="fade-left" data-aos-offset="315">
        <div class="image-round"> </div>
        <div class="borderline-right">
        </div>
    </div>
    <img class="shadow2" src="../../assets/img/backgrounds/shadow2.svg" alt="">
</div>