<div id="aboutMe" class="about-me section-container">
    <div class="left-section" data-aos="fade-right">
        <h1>{{ 'About me' | translate }}</h1>
        <div class="description">
            <div class="discription-headline">
                <span>
                    {{ 'aboutme-hy'| translate }}
                </span>
            </div>
            <div class="bulb-section">
                <div>
                    <img src="../../assets/img/bulb.svg" alt="">
                </div>
                <span>{{ 'aboutme-lightbulb'| translate }}</span>
            </div>
            <div class="puzzle-section">
                <div>
                    <img src="../../assets/img/puzzle.svg" alt="">
                </div>
                <span>{{ 'puzzle'| translate }}</span>
            </div>
        </div>
    </div>
    <div class="right-section" data-aos="fade-left" data-aos-offset="315">
        <div class="image-round"> </div>
        <div class="borderline-right">
        </div>
    </div>
    <img class="shadow2" src="../../assets/img/backgrounds/shadow2.svg" alt="">
</div>