<div class="above-the-fold section-container">
    <img class="above-the-fold-image" src="../../assets/img/me01.png" data-aos="fade-right" data-aos-duration="1500">
    <img class="shadow1" src="../../assets/img/backgrounds/shadow1.svg" alt="">
    <div class="text-content" data-aos="fade-left" data-aos-duration="1500">
        <div class="iam-headline">
            <div class="text-first" data-aos="fade-right" data-aos-duration="1500">
                <span>I am</span>
            </div>
            <div class="text-horizontal-container">
                <span class="name"> Tobias Ruhmanseder</span>
                <span class="job">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <app-button-bright href="#contact" data-aos="fade-down" data-aos-duration="1200" > <span translate>Let's
            talk!</span></app-button-bright>
    </div>
</div>
<div class="social-section">
    <div class="filled-line-left excessive-width"></div>
    <a href="https://github.com/TobiasRuhmanseder" target="_blank"><img src="../../assets/img/social_buttons/github.svg"
            alt=""></a>
    <a href="mailto:mail@tobias-ruhmanseder.com"><img src="../../assets/img/social_buttons/mail.svg" alt=""></a>
    <a href="https://de.linkedin.com/in/tobias-ruhmanseder-095457237" target="_blank"><img
            src="../../assets/img/social_buttons/linkedin.svg" alt=""></a>
    <a class="email-text" href="mailto:mail@tobias-ruhmanseder.com">mail&#64;tobias-ruhmanseder.com</a>
</div>
<div class="scroll-container">
    <span>Scroll down</span>
    <img src="../../assets/img/arrow_scrolldown.svg" alt="">
</div>
<div class="background-bow">
    <img src="../../assets/img/backgrounds/background_bow2.svg" alt="">
</div>