.above-the-fold {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        padding-top: 5vh;
        height: 70vh;
        border-radius: 0px 0px 0px 200px;
    }
}

.above-the-fold-image {
    position: relative;
    z-index: -2;
}

.iam-headline {
    margin-bottom: -20px;
    display: flex;
    align-items: center;
    height: max-content;
    color: white;
}

.text-content {
    margin-top: -100px;
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text-horizontal-container {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 62px;
    font-weight: 700;
}


.job {
    color: var(--darkcolor);
    font-size: 66px;
    font-weight: 200;
    margin-top: -15px;
}

.text-first {
    height: max-content;
    margin-right: -10px;
    font-size: 62px;
    rotate: 270deg;
}

.social-section {
    position: absolute;
    bottom: 40px;
    left: 0px;
    display: flex;
    align-items: center;
    z-index: 3;

    img {
        margin-left: 30px;
        margin-right: 30px;
        width: 3vh;
        cursor: pointer;
        transition: all 225ms ease-in-out;

        &:hover {
            opacity: 0.85;
            transition: all 225ms ease-in-out;
        }
    }

    a {
        margin-left: 30px;
        text-decoration: none;
        color: white;
        font-size: 23px;
    }
}

.scroll-container {
    color: white;
    position: absolute;
    bottom: 0px;
    right: var(--bodypaddingright);
    font-size: 23px;
    display: flex;
    rotate: 90deg;
    transform-origin: top right;
    z-index: 3;
    animation: 3000ms animateScrollDown infinite;

    img {
        margin: 7px;
        width: 20px;
        rotate: 270deg;
    }

    span {
        margin: 0px;
        padding: 0px;
    }
}

.background-bow {
    position: absolute;
    height: 60vh;
    width: 100%;
    top: 54%;
    z-index: -1;
    rotate: 0deg;
    overflow: hidden;
    object-fit: cover;

    img {

        min-width: 100%;
        overflow: hidden;
    }
}

.excessive-width{
width: var(--bodypaddingleft) !important;
}

@keyframes animateScrollDown {
    0% {
        bottom: 0px;
    }

    8% {
        bottom: 10px;
    }

    16% {
        bottom: 0px;
    }

    24% {
        bottom: 10px;
    }

    32% {
        bottom: 0px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes animateScrollDown2 {
    0% {
        bottom: 0px;
    }

    8% {
        bottom: -40px;
    }

    16% {
        bottom: -30px;
    }

    24% {
        bottom: -40px;
    }

    32% {
        bottom: 0px;
    }

    100% {
        bottom: 0px;
    }
}