.go-top {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    width: calc(100% - var(--bodypaddingleft) - var(--bodypaddingright));
    padding-left: var(--bodypaddingleft);
    padding-right: var(--bodypaddingright);
    display: flex;
    justify-content: flex-end;
}

.shadow6 {
    width: 600px;
    position: absolute;
    top: -500px;
    left: -350px;
    z-index: -1;
    overflow: hidden;
    object-fit: cover;
    rotate: 100deg;
}