.go-top {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    width: calc(100% - var(--bodypaddingleft) - var(--bodypaddingright));
    padding-left: var(--bodypaddingleft);
    padding-right: var(--bodypaddingright);
    display: flex;
    justify-content: flex-end;

    @media (max-width: 1340px) {
        margin-bottom: 40px;
    }

    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}
