.portfolio {
    position: relative;
    overflow: hidden;

}

.flex-box {
    margin: 0 !important;
    display: flex;
    align-items: center;
}

.content-left {
    height: max-content;
    display: flex;
    align-items: center;
    flex: 1;
}

.content-middle {
    flex: 0;
    flex-shrink: 1;
}

.content-right {
    flex: 1;
}

.emty-area {
    width: 80%;
}

.short-line {
    width: 20%;
}

.headline {
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;

    @media (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.line {
    background-color: var(--darkcolor);
    height: 4px;
}

.description-text {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;

    @media (max-width: 767px) {
        text-align: center;
        width: calc(100% - var(--bodypaddingleft) - var(--bodypaddingright));
        margin-left: var(--bodypaddingleft);
    }
}

.shadow4 {
    width: 50%;
    position: absolute;
    top: 1200px;
    left: -3%;
    z-index: -1;
    rotate: 0deg;

    @media (max-width: 1023px) {
        width: 400px;
        top: 680px;
        left: 0px;
    }

}

.space-between-column {
    height: 200px;

    @media (max-width: 1024px) {
        height: 150px;
    }
}