.my-skills {
    padding-left: var(--bodypaddingleft);
    margin-bottom: 400px;
    display: flex;
    justify-content: space-between;
}

.skill-icons {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 180px;
    row-gap: 60px;

    img {
        width: 88px;
        height: 100px;
    }
}

.icon-container {
    width: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;

    p {
        margin: 0;
        color: white;
    }

    img {
        width: 70px;
        transition: all 125ms ease-in-out;

        &:hover {
            transition: all 125ms ease-in-out;
            transform: translateY(-10px);
        }
    }
}

.section-right {
    padding-top: 40px;
    display: flex;
}

.content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.headline {
    height: max-content;
    display: flex;
    align-items: center;
}

.content-above {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.skills-description {
    width: 650px;
    padding-right: calc(var(--bodypaddingright) + 60px);
    margin-top: 40px;


    span{
        padding-left: 130px;
    }
}

.test{
    width: 405px;
    object-fit: contain;
}