<div id="skills" class="my-skills">
    <div class="skill-icons" data-aos="fade-right">
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/Angular.svg" alt="">
            <p>Angular</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/ts.svg" alt="">
            <p>TypeScript</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/Javascript-2.svg" alt="">
            <p>JavaScript</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/html.svg" alt="">
            <p>HTML</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/Firebase.svg" alt="">
            <p>Firebase</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/git.svg" alt="">
            <p>GIT</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/css.svg" alt="">
            <p>CSS</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/Api.svg" alt="">
            <p>Rest-Api</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/scrum.svg" alt="">
            <p>Scrum</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/materialdesign.svg" alt="">
            <p>Material design</p>
        </div>
    </div>
    <div class="section-right" data-aos="fade-left">
        <div class="content">
            <div class="content-above">
                <div class="headline">
                    <h1 class="no-margin-bottom">My skills</h1>
                    <div class="filled-line-right"></div>
                </div>

                <div class="skills-description">
                    <span>I have grown my frontend development skills that have allowed me to create different real
                        projects.</span>
                </div>
            </div>
            <app-button-bright href="#">Get in touch</app-button-bright>
        </div>

    </div>

</div>