.imprint {
    position: relative;
    z-index: 1; 
    margin-top: 80px;
    margin-bottom: 120px;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;

    a{
        color: white;
    }

}