<div class="project" [class.other-direction]="project.otherDirection" [attr.data-aos]="aosSide">
    <div class="image-container">
        <img src="../../assets/img/projects/{{project.img}}" alt="">
    </div>
    <div class="text-container">
        <span class="project-name">{{project.name}}</span>
        <span class="compositions">{{project.comp}}</span>
        <span class="description">{{project.description | translate}}</span>
        <a class="pdf-section" *ngIf="project.pdf" [href]="project.pdf" target="_blank">{{ 'CLICK HERE FOR THE ROADMAP' | translate }}</a>
        <div class="button-container">
            <app-button-dark *ngIf="project.projectLink != ''" [href]="project.projectLink">Live test</app-button-dark>
            <div class="distance"></div>
            <app-button-transparent *ngIf="project.github != ''" [href]="project.github">Github</app-button-transparent>
        </div>
    </div>
</div>