.project {
    position: relative;
    z-index: 2;
    padding-right: var(--bodypaddingleft);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 300px;

    @media (max-width: 1023px) {
        padding-right: var(--bodypaddingleft) - var(--bodypaddingright);
        justify-content: center;
        flex-direction: column;
        margin-bottom: 150px;
    }
}

.image-container {
    display: flex;
    justify-content: center;
    width: 900px;

    img {
        width: 420px;
        object-fit: contain;
        @media (max-width: 1023px) {
            width: 330px;
            object-fit: contain;
            margin-bottom: 50px;
        }
    }

    @media (max-width: 1023px) {
        width: 100%;
        align-items: center;
    }
}

.text-container {
    width: 515px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    @media (max-width: 1023px) {
        align-items: center;
        width: 100%;
    }
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

.project-name {
    color: var(--darkcolor);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.compositions {
    color: var(--brightcolor);
    font-size: 23px;
    margin-bottom: 8px;
}

.description {
    color: white;
    font-size: 16px;
    font-weight: 300;

    @media (max-width: 1023px) {
        width: 60vw;
        text-align: center;
    }

    @media (max-width: 767px) {
        width: calc(100% - var(--bodypaddingleft) - var(--bodypaddingright));
    }
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--brightcolor);
    font-weight: 700;

    &:hover{
        text-decoration: underline;
        
    }
}

.distance {
    width: 80px;

    @media (max-width: 1023px) {
        width: 50px;
    }

    @media (max-width: 767px) {
        width: 20px;
    }

}

.other-direction {
    @media (min-width: 1024px) {
        flex-direction: row-reverse;
        padding-right: 0px !important;
        padding-left: var(--bodypaddingright);
    }
}