<div id="skills" class="my-skills">
    <div class="skill-icons" data-aos="fade-right">
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/softskills/project_management.png" alt="">
            <p>Project- <br>management</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/softskills/empathy.png" alt="">
            <p>Empathy</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/softskills/teamwork.png" alt="">
            <p>Teamwork</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/softskills/continually_learning.png" alt="">
            <p>Continually<br>learning</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/softskills/analytical_skills.png" alt="">
            <p>Analytical<br>skills</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/softskills/Communication.png" alt="">
            <p>Communi- <br>cation</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/softskills/problem_solving.png" alt="">
            <p>Problem- <br>solving</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/softskills/responsibility.png" alt="">
            <p>Respons-<br>ibility</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/softskills/visionary.png" alt="">
            <p>Visonary</p>
        </div>
    </div>
    <div class="section-right" data-aos="fade-left">
        <div class="content">
            <div class="content-above">
                <div class="headline">
                    <h2 class="no-margin-bottom">{{ 'My Softskills'| translate }}</h2>
                    <div class="filled-line-right"></div>
                </div>

                <div class="skills-description">
                    <span>{{ 'Softskills text'| translate }}</span>
                </div>
            </div>
        </div>