<div class="header section-container">
    <a href="#"><img src="../../assets/img/logo4.png" alt=""></a>
    <nav>
        <div class="nav-container">
            <a href="#aboutMe" translate>About me</a>
            <div class="border-underline"></div>
        </div>
        <div class="nav-container">
            <a href="#skills">Skills</a>
            <div class="border-underline"></div>
        </div>
        <div class="nav-container">
            <a href="#portfolio">Portfolio</a>
            <div class="border-underline"></div>
        </div>
    </nav>
</div>