<div class="header section-container">
    <a routerLink=""><img src="../../assets/img/logo4.png" alt=""></a>
    <nav>

        <div class="language">
            <a (click)="translate.use('de');">DE</a>
            <span>|</span>
            <a (click)="translate.use('en');">EN</a>
        </div>

        <div class=" nav-container">
            <a href="#aboutMe">{{ 'About me' | translate }}</a>
            <div class="border-underline"></div>
        </div>
        <div class="nav-container">
            <a href="#skills">Skills</a>
            <div class="border-underline"></div>
        </div>
        <div class="nav-container">
            <a href="#portfolio">Portfolio</a>
            <div class="border-underline"></div>
        </div>
    </nav>
</div>