<div class="header section-container">
    <img src="../../assets/img/logo4.png" alt="">
    <nav>
        <div class="nav-container">
            <a href="#">About me</a>
            <div class="border-underline"></div>
        </div>
        <div class="nav-container">
            <a href="#">Skills</a>
            <div class="border-underline"></div>
        </div>
        <div class="nav-container">
            <a href="#">Portfolio</a>
            <div class="border-underline"></div>
        </div>

    </nav>
</div>