.header {
    height: 110px;
    background-color: var(--backgroundcolor);
    width: calc(100% - 240px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;

    img {
        width: 150px;
    }

    nav {
        width: 360px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 23px;
        font-weight: 400;

        a {
            color: white;
            text-decoration: none;
            transition: all 225ms ease-in-out;

            &:hover {
                color: var(--brightcolor);
                transition: all 225ms ease-in-out;
                ;
            }
        }
    }

    .nav-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container:hover .border-underline {
        transition: all 225ms ease-in-out;
        border-bottom: 3px solid var(--darkcolor);
        width: 55px;
    }

    .border-underline {
        transition: all 225ms ease-in-out;
        border-bottom: 3px solid var(--backgroundcolor);
        width: 55px;
    }
}