<div id="skills" class="my-skills">
    <div class="skill-icons" data-aos="fade-right">
        <div class="icon-container">
            <img class="icon-in-progress" src="../../assets/img/skills_icon/devsecops_skills/icons8-gitlab-50.png"
                alt="">
            <p class="text-in-progress">Gitlab CI</p>
        </div>
        <div class="icon-container">
            <img class="icon-in-progress" src="../../assets/img/skills_icon/devsecops_skills/github_action.png" alt="">
            <p class="text-in-progress">GitHub <br> Actions</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/devsecops_skills/icons8-docker-50.png" alt="">
            <p>Docker</p>
        </div>
        <div class="icon-container">
            <img class="icon-in-progress" src="../../assets/img/skills_icon/devsecops_skills/monitoring.png" alt="">
            <p class="text-in-progress">Monitoring</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/devsecops_skills/icons8-cloud-100.png" alt="">
            <p>Cloud</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/devsecops_skills/icons8-python-50.png" alt="">
            <p>Python</p>
        </div>
        <div class="icon-container">
            <img class="icon-in-progress" src="../../assets/img/skills_icon/devsecops_skills/icons8-hat-64.png" alt="">
            <p class="text-in-progress">Ethical <br> Hacking</p>
        </div>
        <div class="icon-container">
            <img class="icon-in-progress" src="../../assets/img/skills_icon/devsecops_skills/hashcat.png" alt="">
            <p class="text-in-progress">Hashcat</p>
        </div>
        <div class="icon-container">
            <img class="icon-in-progress" src="../../assets/img/skills_icon/devsecops_skills/icons8-kali-linux-100.png"
                alt="">
            <p class="text-in-progress">Kali <br> Linux</p>
        </div>
        <div class="icon-container">
            <img class="icon-in-progress" src="../../assets/img/skills_icon/devsecops_skills/icons8-password-48.png"
                alt="">
            <p class="text-in-progress">Password <br> Secure</p>
        </div>
        <div class="icon-container">
            <img class="icon-in-progress" src="../../assets/img/skills_icon/devsecops_skills/owasp.png" alt="">
            <p class="text-in-progress">OWASP <br> JuiceShop</p>
        </div>
        <div class="icon-container">
            <img class="icon-in-progress" src="../../assets/img/skills_icon/devsecops_skills/pentesting_tools.png"
                alt="">
            <p class="text-in-progress">Pentesting<br> Tool</p>
        </div>
        <div class="icon-container">
            <img class="icon-in-progress" src="../../assets/img/skills_icon/devsecops_skills/icons8-compliance-52.png"
                alt="">
            <p class="text-in-progress">Compliance<br>DSGVO</p>
        </div>
    </div>
    <div class="section-right" data-aos="fade-left">
        <div class="content">
            <div class="content-above">
                <div class="headline">
                    <h2 class="no-margin-bottom">{{ 'My Skills DevSecOps'| translate }}</h2>
                    <div class="filled-line-right"></div>
                </div>

                <div class="skills-description">
                    <span>{{ 'skills text devsecops'| translate }}</span>
                </div>
            </div>
        </div>

    </div>
    <img class="shadow3" src="../../assets/img/backgrounds/shadow3.svg" alt="">
</div>