:root {
    --backgroundcolor: #141D2F;
    --brightcolor: #00BEE8;
    --darkcolor: #4B47FF;
    --bodypaddingleft: 200px;
    --bodypaddingright: 200px;

    @media (max-width: 1540px) {
        --bodypaddingleft: 100px;
        --bodypaddingright: 100px;
    }

    @media (max-width: 1024px) {
        --bodypaddingleft: 40px;
        --bodypaddingright: 40px;
    }

    @media (max-width: 767px) {
        --bodypaddingleft: 15px;
        --bodypaddingright: 15px;
    }

    @media (min-width: 1981px) {
        --bodypaddingleft: 20vw;
        --bodypaddingright: 20vw;
    }
}

html {
    scroll-behavior: smooth;
}

.mobile-overflow {
    overflow-x: hidden;
}

.d-none {
    display: none;
}

body {
    margin: 0px;
    overflow-x: hidden !important;
    background-color: var(--backgroundcolor);
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    font-weight: 700;
    margin-top: 0px;
    color: white;
    margin-bottom: 40px;


    @media (max-width: 1919px) {
        font-size: 70px;
    }

    @media (max-width: 1023px) {
        font-size: 60px;
    }

    @media (max-width: 767px) {
        font-size: 40px;
    }
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-top: 0px;
    color: white;
    margin-bottom: 20px;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.filled-line-left {
    width: calc(var(--bodypaddingleft) - 60px);
    margin-right: 60px;
    background-color: var(--darkcolor);
    height: 4px;
}

.filled-line-right {
    width: calc(var(--bodypaddingright) - 60px);
    margin-left: 60px;
    background-color: var(--darkcolor);
    height: 4px;

    @media (max-width: 1919px) {
        width: calc(var(--bodypaddingright) - 30px);
    }

    @media (max-width: 1280px) {
        width: calc(var(--bodypaddingright) + 10px);
        margin-left: 30px;
    }

    @media (max-width: 767px) {
        margin-left: 5px;
    }
}

.section-container {
    padding-left: var(--bodypaddingleft);
    padding-right: var(--bodypaddingright);
}




/* poppins-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('../src/assets/fonts/poppins-v20-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../src/assets/fonts/poppins-v20-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../src/assets/fonts/poppins-v20-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/poppins-v20-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../src/assets/fonts/poppins-v20-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../src/assets/fonts/poppins-v20-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/poppins-v20-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../src/assets/fonts/poppins-v20-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../src/assets/fonts/poppins-v20-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}