<div id="skills" class="my-skills">
    <div class="skill-icons" data-aos="fade-right">

        <div class="icon-container">
            <img src="../../assets/img/skills_icon/backend/Django.svg" alt="">
            <p>Django</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/backend/Python.svg" alt="">
            <p>Python</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/backend/Flask.svg" alt="">
            <p>Flask</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/backend/Linux.svg" alt="">
            <p>Linux</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/backend/Docker.svg" alt="">
            <p>Docker</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/backend/Cloud.svg" alt="">
            <p>Cloud</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/backend/PostgreSQL.svg" alt="">
            <p>PostgreSQL</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/backend/SQL.svg" alt="">
            <p>SQL</p>
        </div>
        <div class="icon-container">
            <img src="../../assets/img/skills_icon/backend/Redis.svg" alt="">
            <p>Redis</p>
        </div>
    </div>
    <div class="section-right" data-aos="fade-left">
        <div class="content">
            <div class="content-above">
                <div class="headline">
                    <h2 class="no-margin-bottom">{{ 'My Skills Backend'| translate }}</h2>
                    <div class="filled-line-right"></div>
                </div>

                <div class="skills-description">
                    <span>{{ 'skills text backend'| translate }}</span>
                    <app-button-bright class="button-pos" href="#contact">{{ 'Get in touch'| translate
                        }}</app-button-bright>
                </div>
            </div>

        </div>
